* {
    box-sizing: border-box;
  }
  
  .homeSection {
    /* height: 100vh; */
    height: auto;
    background:
      linear-gradient(to top right, rgba(0, 122, 255, 0.3), #0d1117 70%),
      linear-gradient(to top left, rgba(0, 122, 255, 0.3), #0d1117 70%);
    color: #c9d1d9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    width: 100%;
  }
  
  .homeContainer {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
  }
  
  .homeText {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
  }
  
  .homeText h3 {
    font-size: 30px;
    /* color: #58a6ff; */
    font-weight: bold;
    background: linear-gradient(to right, #58a6ff, #fff);
    -webkit-background-clip: text;
    color: transparent;
  
    
  }
  
  .homeText h3 .highlight {
    /* color: #c778dd; */
    background: linear-gradient(to right, #c778dd, #fff);
    -webkit-background-clip: text;
    color: transparent;

  }
  
  .homeText h1 {
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(to right, #8750f7, #ffffff);
    -webkit-background-clip: text;
    color: transparent;
  }
  

  /* .homeText h1 {
    font-size: 50px;
    color: #8750f7;
    font-weight: bold;
  } */
  
  .homeText p {
    font-size: 18px;
    line-height: 1.8;
  }
  
  .homeStats {
    display: flex;
    gap: 30px;
    margin-top: 20px;
  }
  
  .statItem {
    text-align: center;
  }
  
  .statItem h1 {
    font-size: 40px;
    color: #58a6ff;
  }
  
  .homeButtons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }
  
  .btnPrimary {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: #58a6ff;
    color: #0d1117;
    text-decoration: none !important;

  }
  
  .btnSecondary {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: #ffffff;
    color: #0d1117;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .homeContainer {
      /* margin-top: 300px; */
    }
    .homeText h1 {
      font-size: 35px;
    }
  
    .homeText h2 {
      font-size: 30px;
    }
  
    .homeStats {
      flex-direction: column;
      gap: 15px;
    }
  }