body {
  background-color: #000; /* Dark background */
  color: #e0e0e0; /* Light text color */
  font-family: 'Poppins', sans-serif;
  /* font-family: 'arbanist'; */

  /* font-family: 'Raleway', sans-serif; */
  /* overflow-x: hidden; Prevent horizontal scrolling */
  /* overflow: visible; */


  /* margin: 0;
  padding: 0; */


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6; /* Adjust the value as needed */

    /* font-family: 'Raleway', sans-serif; */
  
  }
  
}


/* body {
  background-color: #f5f5f5; /* Optional: Light background */
/* }  */







/* 
.App {
  display: flex;
  min-width:  768px;
  height: 100%;
  min-height: 100vh;
  background-color: #cbe6ef;
  flex-direction: column;

  @media only screen and (min-width : 768px) {
   width: 50%;
   height: 50vh;
 }

 /* Medium Devices, Desktops */
 /* @media only screen and (min-width : 992px) {
   width: 100%;
 }
}  */
